body{
    margin:auto;
    
    }
    /* header */
    .pattern-logo{
        height: 100px;
        background-color: #4ea0ff;
        background-image: url(img/.pattern-logo);
        background-size: 35%;
    }
    
    .logo{
        width: 150px;
        padding-top:20px;
    } 
    
    #info-articolo{
        color:grey;
    }
    main{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #data-articolo {
      font-size: 12px;  
    }
    
    /* testo evidenziato */
    .text-bg-yellow{
        background-color: yellow;
    }
    /* table */

thead{
    background-color: #56a9fd;
    color: white;
}

th{
    text-align: center;
}

.bg-blu{
    background-color: lightblue;
}

#header-cell-blu{
    width: 50%;
}
    